/*Syntax highlighting for pygments*/
/* --> Sunburst theme */
div.codehilite > pre {
  background-color: #2f2f2f;
  color: #fbfbfb;
}
.hll { background-color: #ffffcc }
.c { color: #aeaeae; font-style: italic; } /* Comment */
.err { color: #f8f8f8; } /* Error */
.esc { color: #f8f8f8; } /* Escape */
.g { color: #f8f8f8; } /* Generic */
.k { color: #e28964; } /* Keyword */
.l { color: #f8f8f8; } /* Literal */
.n { color: #f8f8f8; } /* Name */
.o { color: #f8f8f8; } /* Operator */
.x { color: #f8f8f8; } /* Other */
.p { color: #f8f8f8; } /* Punctuation */
.cm { color: #aeaeae; font-style: italic; } /* Comment.Multiline */
.cp { color: #e28964; } /* Comment.Preproc */
.c1 { color: #aeaeae; font-style: italic; } /* Comment.Single */
.cs { color: #aeaeae; font-style: italic; } /* Comment.Special */
.gd { color: #f8f8f8; } /* Generic.Deleted */
.ge { color: #f8f8f8; text-decoration: underline; } /* Generic.Emph */
.gr { color: #f8f8f8; } /* Generic.Error */
.gh { color: #f8f8f8; font-weight: bold; } /* Generic.Heading */
.gi { color: #f8f8f8; } /* Generic.Inserted */
.go { color: #2e343a; background-color: #0c0c0c } /* Generic.Output */
.gp { color: #f8f8f8; } /* Generic.Prompt */
.gs { color: #f8f8f8; } /* Generic.Strong */
.gu { color: #f8f8f8; font-weight: bold; } /* Generic.Subheading */
.gt { color: #f8f8f8; } /* Generic.Traceback */
.kc { color: #e28964; } /* Keyword.Constant */
.kd { color: #e28964; } /* Keyword.Declaration */
.kn { color: #e28964; } /* Keyword.Namespace */
.kp { color: #e28964; } /* Keyword.Pseudo */
.kr { color: #e28964; } /* Keyword.Reserved */
.kt { color: #89bdff; } /* Keyword.Type */
.ld { color: #f8f8f8; } /* Literal.Date */
.m { color: #3387cc; } /* Literal.Number */
.s { color: #65b042; } /* Literal.String */
.na { color: #89bdff; } /* Name.Attribute */
.nb { color: #f8f8f8; } /* Name.Builtin */
.nc { color: #f8f8f8; } /* Name.Class */
.no { color: #3387cc; } /* Name.Constant */
.nd { color: #f8f8f8; } /* Name.Decorator */
.ni { color: #f8f8f8; } /* Name.Entity */
.ne { color: #f8f8f8; } /* Name.Exception */
.nf { color: #89bdff; } /* Name.Function */
.nl { color: #65b042; } /* Name.Label */
.nn { color: #f8f8f8; } /* Name.Namespace */
.nx { color: #f8f8f8; } /* Name.Other */
.py { color: #f8f8f8; } /* Name.Property */
.nt { color: #e28964; } /* Name.Tag */
.nv { color: #99cf50; } /* Name.Variable */
.ow { color: #e28964; } /* Operator.Word */
.w { color: #f8f8f8; } /* Text.Whitespace */
.mb { color: #3387cc; } /* Literal.Number.Bin */
.mf { color: #3387cc; } /* Literal.Number.Float */
.mh { color: #3387cc; } /* Literal.Number.Hex */
.mi { color: #3387cc; } /* Literal.Number.Integer */
.mo { color: #3387cc; } /* Literal.Number.Oct */
.sb { color: #65b042; } /* Literal.String.Backtick */
.sc { color: #65b042; } /* Literal.String.Char */
.sd { color: #65b042; } /* Literal.String.Doc */
.s2 { color: #65b042; } /* Literal.String.Double */
.se { color: #65b042; } /* Literal.String.Escape */
.sh { color: #65b042; } /* Literal.String.Heredoc */
.si { color: #65b042; } /* Literal.String.Interpol */
.sx { color: #65b042; } /* Literal.String.Other */
.sr { color: #65b042; } /* Literal.String.Regex */
.s1 { color: #65b042; } /* Literal.String.Single */
.ss { color: #65b042; } /* Literal.String.Symbol */
.bp { color: #f8f8f8; } /* Name.Builtin.Pseudo */
.vc { color: #99cf50; } /* Name.Variable.Class */
.vg { color: #99cf50; } /* Name.Variable.Global */
.vi { color: #99cf50; } /* Name.Variable.Instance */
.il { color: #3387cc; } /* Literal.Number.Integer.Long */
